@charset "UTF-8";
//-----------------------------------------------------	
// setting scss
//-----------------------------------------------------	


// Switch Settings
//-----------------------------------------------------	
$lte7:                  true !default; //is compatible with Internet explorer 6-7
$filter:                false !default; //is open the css3 filter compatible with Internet explorer  6-8
$printStyleSwitch:      false !default; //is open print styles


// about font
//-----------------------------------------------------	
$baseFontSize:          14px !default;
$baseLineHeight:        1.5 !default;
$baseFontFamily:        "Helvetica Neue", Helvetica, Tahoma, sans-serif !default;
$fontCn:                "SimSun";
$fontYaHei:             "Microsoft Yahei";
$fontHeiTi:             "SimHei";


// elements spacing between up and down
//-----------------------------------------------------	
$baseGap:               20px !default;


// about color
// color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// lighten($color, $amount)
// darken($color, $amount)
// opacify($color, $amount)
// mix($color1, $color2[, $amount])
//-----------------------------------------------------	
$black:                 #000 !default;
$grayDarker:            #333 !default;
$grayDark:              #999 !default;
$gray:                  #ccc !default;
$grayLight:             #f5f5f5 !default;
$white:                 #fff !default;

$red:                   #cc3300 !default;
$blue:                  #00A3CF !default;
$blueDark:              #0064cd !default;
$orange:                #F47837 !default;
$green:                 #51B148 !default;
$yellow:                #ffc40d !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

$primary:               #0078E7 !default;//the main color


// link
//-----------------------------------------------------
// if only one value, the value for the slip to darken 5%,
// if there are two values, the second value with the value of slip
$linkColor:             #08c !default;


// scaffolding
//-----------------------------------------------------	
$bodyBgColor:           $white !default;
$textColor:             $grayDarker !default;


// placeholder
//-----------------------------------------------------
// Variables are: whether output form of the placeholder style, the placeholder text color
$placeholder:           true $gray !default;


// message component colors
// warning, error, success, tooltip
//-----------------------------------------------------	
// there are three colors for every variiables, include textColor, bgColor, borderColor
$warningColor:               #514721 #FFF6BF #FFD324 !default;
$errorColor:                 #8A1F11 #FBE3E4 #FBC2C4 !default;
$successColor:               #264409 #E6EFC2 #C6D880 !default;
$infoColor:                  #205791 #D5EDF8 #92CAE4 !default;


// radius
//-----------------------------------------------------	
$baseRadius:            5px !default;
$smallRadius:           3px !default;


// z-index
//-----------------------------------------------------	
$zindexDropdown:        1000 !default;
$zindexFixedTopbar:     1010 !default;
$zindexTooltip:         1020 !default;
$zindexAlert:           1030 !default;
$zindexModal:           1100 !default;