@charset "utf-8";
/* -------------------------------------------------
 * btn scss
 * -------------------------------------------------
*/

//----------------------------------
$btnBaseClass:           btn !default;
$btnFormBaseClass:       formbtn !default;
$btnNormalSize:          16px 28px 14px !default; //left and right padding，height，font-size，border-radius
$btnSizeClass:           () !default; //(small 5px 21px 12px) class left and right padding，height，font-size
$btnColorClass:          () !default; //(primary $primary #fff) class bgColor textColor

$btnBgGradientSwitch:    false !default;



// btn placeholder selectors and mixin
//----------------------------------

// btn common style
%btn-basic{
  @include inline-block;
  cursor: pointer;
  text-align:center;
  border:0 none;
}

// btn-gradient
%btn-gradient {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 1px rgba(255, 255, 255, 0.5) inset;
  @extend %gradient-linear-light;
}

// btn-size
@mixin btn-size($padding:nth($btnNormalSize,1), $height:nth($btnNormalSize,2), $fontSize:nth($btnNormalSize,3), $formbtn: false){
  padding:0 $padding;
  font-size:$fontSize;

  @if $formbtn{
    height: $height;
  } @else {
    line-height: $height;
  }
}

// btn-color
@mixin btn-color($bgColor:#e6e6e6, $textColor:#333){
  color:$textColor;
  background-color: $bgColor;
  @if $btnBgGradientSwitch {
    border:1px solid darken($bgColor, 5%);
    border-color:lighten($bgColor, 2%) darken($bgColor, 5%) darken($bgColor, 5%) lighten($bgColor, 2%);
  }

  &:hover{
    background-color: darken($bgColor,5%);
    color:$textColor;
  }
}


//----------------------------------

.#{$btnBaseClass}{
  @extend %btn-basic;
  @include btn-size;
  @include btn-color;
}
.#{$btnFormBaseClass}{
  @extend %btn-basic;
  @include btn-size($formbtn: true);
  @include btn-color;
}
.#{$btnBaseClass}-primary {
  @include btn-color($primary, #fff);
}
@if $btnBgGradientSwitch {
  .#{$btnBaseClass}, .#{$btnFormBaseClass}{
    @extend %btn-gradient;
  }
}

// @include btn-size-multi();
@mixin btn-size-multi($sizeLists: $btnSizeClass){
  @each $size in $sizeLists{
    $class:     nth($size, 1);
    $padding:   nth($size, 2);
    $height:    nth($size, 3);
    $fontSize:  nth($size, 4);

    .#{$btnBaseClass}-#{$class}{
      @include btn-size($padding, $height, $fontSize);
    }
    .#{$btnFormBaseClass}-#{$class}{
      @include btn-size($padding, $height, $fontSize, true);
    }
  }
}

// two or more btn-color
// @include btn-color-multi();
@mixin btn-color-multi($colorLists: $btnColorClass){
  @each $color in $colorLists{
    $class:      nth($color,1);
    $bgColor:    nth($color,2);
    $textColor:  nth($color,3);

    .#{$btnBaseClass}-#{$class}{
      @include btn-color($bgColor,$textColor);
    }
  }
}