@charset "UTF-8";
//-----------------------------------------------------  
// helpers scss
//-----------------------------------------------------

// ul/ol has list style
ul.has-style{
  @extend %ul-has-style;
}
// li float
ul.inline-float{
  @extend %clearfix;
  li{
    @include float;
  }
}
// li inline-block
ul.inline-block{
  li{
    @extend %inline-block; 
    margin-right: 8px;
    &:last-child{
      margin-right: 0;
    }
  }
}

// float and clearfix
.fl{
  @extend %float;
}
.fr{
  @include float(right);
}
.clearfix{
  @extend %clearfix;
}

//some method hidden
.hidden{
  @extend %hidden;
}
.visually-hidden {
  @extend %visually-hidden;
}

// text-align:left/right/center
.tar{
	text-align: right;
}
.tac{
	text-align: center;
}

// img replace text
.ir{
	@extend %ir;
}

// color
.gray{
  color:$gray;
}